@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#Header {
  width: 100%;
  height: 80px;
  padding: 0 1.1rem;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-info {
  width: 80%;
  font-size: 1.3rem;
}

.pfp-icon {
  width: 3rem;
  height: 3rem;
}

.header-name {
  width: 100%;
  letter-spacing: 2px;
  font-size: 1.1rem;
  color: #333;
  font-weight: bold;
}

.hamburger-button {
  width: 10%;
}

.hamburger-icon {
  scale: 0.8;
  cursor: pointer;
}

/* New CSS for the updated behavior */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
}

nav::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 12px;
}

.hamburger-icon {
  scale: 0.8;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 100%; /* Menu will open below the navbar */
  left: 0;
  width: 100%; /* Menu will span the entire width of the navbar */
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: top 0.6s ease, opacity 0.6s ease; /* Add transition for opacity */
  opacity: 0; /* Start with opacity 0 to hide the menu initially */
}

nav.menu-open::after {
  display: none;
}

nav.menu-open .menu {
  top: 80px; /* Adjust this value based on your header height */
  opacity: 1; /* Set opacity to 1 when the menu is open */
}

nav.menu-open #Header {
  box-shadow: none;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
  text-align: right;
  padding: 4px 12px 10px 0;
  font-size: 1.6rem;
  color: #111;
  font-weight: bold;
}

.menu a {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
}

#Home {
  visibility: hidden;
}

#Main {
  margin: 80px 1.1rem 1.1rem;
  padding: 2rem 0;
  min-height: 80vh;
}

.main-name {
  color: #111;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 1.6px;
}

.main-statement {
  color: #111;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 1.3px;
}

.main-button {
  background-color: limegreen;
  border-radius: 4px;
  padding: 10px 60px;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

#About {
  margin: 0 1.1rem;
  padding: 4rem 0;
}

.section-header {
  color: #111;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.section-header-line {
  background-color: limegreen;
  height: 4px;
  border-radius: 4px;
  width: 40%;
}

#About p {
  color: #666;
  font-size: 1rem;
}

.bold-span {
  font-weight: bold;
}

.about-button {
  background-color: limegreen;
  border-radius: 4px;
  padding: 10px 60px;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.about-header-2 {
  color: #111;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.skill {
  padding: 0.6rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.2rem;
  background: rgba(153,153,153,.2);
  border-radius: 4px;
  font-weight: 600;
  color: #666;
}

#Projects {
  margin: 0 1.1rem;
  padding: 4rem 0;
}

.projects-intro, .contact-intro {
  color: #555;
  font-size: 1rem;
  font-weight: 500;
}

.project-name {
  color: #000;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.project-description {
  color: #666;
  font-size: 1.05rem;
}

.project-button {
  background-color: limegreen;
  border-radius: 4px;
  padding: 10px 40px;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

#Contact {
  margin: 0 1.1rem;
  padding: 4rem 0;
}

.form-container {
  padding: 1rem;
  margin: 1rem 0;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}

.name-input-container, .email-input-container, .message-input-container {
  margin: 0.8rem 0;
  padding: 0 0.4rem;
}

.name-label, .email-label, .message-label {
  color: #555;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.4rem 0;
}

.name-input, .email-input, .message-input {
  padding: 0.8rem 0.4rem;
  color: #333;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease;
  outline: none;
}

.name-input:focus, .email-input:focus, .message-input:focus {
  border-color: #666;
}

.message-input {
  height: 240px;
}

.contact-button-div {
  padding: 0.2rem 0.4rem;
}

.contact-button {
  background-color: limegreen;
  border-radius: 4px;
  padding: 10px 60px;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  width: 100%;
}

#Footer {
  margin-top: 1.1rem;
  padding: 0 1rem 2rem 1rem;
  background-color: black;
  color: white;
}

.footer-upper {
  border-bottom: 1px solid white;
}

.footer-header {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.social-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.footer-subheader {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.footer-lower {
  font-size: 0.8rem;
  text-align: center;
}

/* Project Details Pages */
#GrapevineDetails, #NobleOakDetails, #AlternativeEndingsDetails, #DeepThoughtsDetails {
  margin: 2rem 1.1rem;
  padding: 2rem 0;
}

.project-upper {
  min-height: 92vh;
}

.project-title {
  color: #000;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 1px;
}

.project-title-grapevine {
  color: #000;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.project-subheader {
  color: #111;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.project-details-button {
  background-color: limegreen;
  border-radius: 4px;
  padding: 10px 10px;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  width: 80%;
}

.project-details-header {
  color: #111;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.project-details-overview {
  color: #555;
  font-size: 1.05rem;
  font-weight: 400;
}

.project-collab {
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.project-details-link {
  width: 2.2rem;
  height: 2.2rem;
}

.project-details-link-button {
  background-color: limegreen;
  border-radius: 4px;
  padding: 10px 40px;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  width: 60%;
}

.github-icon {
  cursor: not-allowed;
}

@media screen and (min-width: 400px) {
  .main-name {
    font-size: 2.6rem;
  }

  .main-statement {
    font-size: 1.2rem;
  }

  .main-button {
    width: 80%;
  }

  .project-title-grapevine {
    font-size: 2.1rem;
  }

  .project-details-header {
    font-size: 1.5rem;
  }

  .project-details-overview {
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 468px) {
  .main-name {
    font-size: 3rem;
  }

  .main-statement {
    font-size: 1.4rem;
  }

  .project-title-grapevine {
    font-size: 2.3rem;
  }

  .project-subheader {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 520px) {
  /* 520x768 Need to details page*/
  .header-name {
    font-size: 1.5rem;
  }

  .hamburger-icon {
    scale: 0.6;
  }

  .menu a {
    font-size: 1.4rem;
  }

  .main-statement {
    padding: 0 1rem;
  }

  .main-button {
    font-size: 1.6rem;
  }

  .section-header {
    font-size: 2.5rem;
  }

  .about-header-2 {
    font-size: 1.9rem;
  }

  #About p {
    font-size: 1.1rem;
  }

  .about-button {
    font-size: 1.6rem;
  }

  .projects-intro {
    font-size: 1.2rem;
  }

  .project-name {
    font-size: 2rem;
  }

  .project-description {
    font-size: 1.2rem;
  }

  .project-button {
    font-size: 1.6rem;
    padding: 10px 80px;
  }

  .contact-intro {
    font-size: 1.2rem;
  }

  .contact-form label, .contact-form input, .contact-form textarea {
    font-size: 1.2rem;
  }

  .contact-button {
    font-size: 1.6rem;
  }

  .footer-header {
    font-size: 1.5rem;
  }

  .footer-subheader {
    font-size: 1.05rem;
  }

  .footer-lower {
    font-size: 1rem;
  }

  .project-subheader {
    font-size: 1.3rem;
    padding: 0 10px;
  }

  .project-details-header {
    font-size: 1.8rem;
  }

  .project-details-overview {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 600px) {
  .section-header {
    font-size: 2.7rem;
  }

  .section-header-line {
    margin-bottom: 2rem;
  }

  .about-header-2 {
    font-size: 2.2rem;
  }

  #About p {
    font-size: 1.25rem;
  }

  .about-button {
    font-size: 1.7rem;
  }

  .skill {
    font-size: 1.4rem;
  }

  .projects-intro, .contact-intro {
    font-size: 1.4rem;
  }

  .project-name {
    font-size: 2.2rem;
  }

  .project-description {
    font-size: 1.25rem;
  }

  .project-button {
    padding: 10px 100px;
  }

  .contact-form label, .contact-form input, .contact-form textarea {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 700px) {
  #Header {
    height: 120px;
  }

  .pfp-icon {
    width: 5rem;
    height: 5rem;
  }

  .header-name {
    font-size: 2rem;
  }

  nav.menu-open .menu {
    top: 120px;
  }

  .menu li a {
    font-size: 1.6rem;
  }
  
  #Main {
    margin: 120px 1.1rem 1.1rem;
  }

  .main-name {
    font-size: 3.4rem;
  }

  .main-statement {
    font-size: 1.8rem;
    padding: 0 1.4rem;
  }

  .main-button {
    font-size: 2.2rem;
    padding: 20px 100px;
  }

  .section-header {
    font-size: 3rem;
  }

  .about-header-2 {
    font-size: 2.5rem;
  }

  #About p {
    font-size: 1.5rem;
  }

  .about-button {
    font-size: 2rem;
    padding: 12px 80px;
  }

  .skill {
    font-size: 1.8rem;
  }

  .projects-intro, .contact-intro {
    font-size: 1.8rem;
  }

  .project-name {
    font-size: 2.6rem;
  }

  .project-description {
    font-size: 1.5rem;
  }

  .project-button {
    font-size: 2rem;
    padding: 12px 120px;
  }

  .contact-form label, .contact-form input, .contact-form textarea {
    font-size: 1.6rem;
  }

  .contact-button {
    font-size: 2rem;
    padding: 12px 0;
  }

  .footer-header {
    font-size: 1.8rem;
  }

  .social-icon {
    width: 2.4rem;
    height: 2.4rem;
  }

  .social-icon:nth-child(1) {
    margin-right: 1.2rem;
  }

  .social-icon:nth-child(2), .social-icon:nth-child(3) {
    margin: 0 1.2rem;
  }

  .footer-subheader {
    font-size: 1.3rem;
  }

  .footer-lower {
    font-size: 1.2rem;
  }

  .project-title-grapevine, .project-title {
    font-size: 3rem;
  }

  .project-subheader {
    font-size: 1.8rem;
  }

  .project-details-button {
    font-size: 2rem;
    padding: 20px 10px;
  }

  .project-details-header {
    font-size: 2.4rem;
  }

  .project-details-overview {
    font-size: 1.5rem;
  }

  .project-details-link {
    width: 3rem;
    height: 3rem;
  }

  .project-details-link-button {
    font-size: 2rem;
    padding: 15px 60px;
  }
}